%header#global-header.fixed-header.white.transparent
  =render partial: "header"
#wrapper.clearfix.grey
  .mainContentArea
    %ul.contents.clearfix
      %li.li_content.hover
        =link_to "トップページ", root_path
        %i.fa.fa-angle-right
      %li.li_content.hover
        =@hotel.name
    .titleArea
      %h2.hotelTitle
        =@hotel.name
    .detailLeft
      .slideshow
        %ul.slideshow-main
          - @hotel.photos.each do |photo|
            %li.slideshow-image
              =image_tag photo.image, alt: @hotel.name
        %ul.slideshow-nav
          - @hotel.photos.each do |photo|
            %li.slideshow-image
              =image_tag photo.image, alt: @hotel.name
      .detail_tabwrapper
        %ul.tabArea.clearfix
          %li.facility
            %span 施設紹介
          %li.plan
            %span 宿泊プラン
          %li.access
            %span アクセス
          %li.review
            %span レビュー
        #facility.tabContent
          .introduction.margin-top
            %h3.subTitle 施設の紹介
            %p.description
              =sanitize(@hotel.description)
          .introduction
            %h3.subTitle 施設・サービス
            %table.hotel_detail
              %tbody
                %tr
                  %th 施設名
                  %td
                    =@hotel.name
                %tr.space
                %tr
                  %th ふりがな
                  %td
                    =@hotel.hiragana_name
                %tr.space
                %tr
                  %th 住所
                  %td
                    =@hotel.prefecture
                    =@hotel.city
                    =@hotel.street
                %tr.space
                %tr
                  %th 電話番号（予約専用）
                  %td 03-6432-4962<br><br>※平日・土曜の10:00〜19:00まで受付（休：日/祝日）
                %tr.space
                %tr
                  %th 電話番号（質問専用）
                  %td
                    =@hotel.phone_number
                %tr.space
                %tr
                  %th ホームページ
                  %td
                    =link_to @hotel.url, @hotel.url
                %tr.space
                %tr
                  %th チェックイン時間
                  %td
                    =@hotel.check_in_time
                %tr.space
                %tr
                  %th チェックアウト時間
                  %td
                    =@hotel.check_out_time
                %tr.space
                %tr
                  %th 総部屋数
                  %td
                    =@hotel.total_rooms
                    室
                %tr.space
                %tr
                  %th クレジットカード
                  %td
                    =@hotel.card_type
                %tr.space
          .introduction
            %h3.subTitle 施設の特徴
            =@hotel.amenity.html_safe
            %p.remarks 施設の特徴は一般的な設備を表すもので、宿泊施設によって設備内容やサービスの範囲は異なります。<br>詳細は宿泊施設へ直接ご確認のうえ、ご予約くださいませ。
            %p.remarks ◆備考
            %p.childremarks
              =sanitize(@hotel.remark)
            .gradeBox
              .left
                %p.title
                  =image_tag "grade_title.jpg", alt: "Relux Grade"
                - case @hotel.grade
                - when 1 then
                  %p.star
                    =link_to "/grade", class: "hover" do
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                - when 2 then
                  %p.star
                    =link_to "/grade", class: "hover" do
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                - when 3 then
                  %p.star
                    =link_to "/grade", class: "hover" do
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                      =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                - when 4 then
                  %p.star
                    =link_to "/grade", class: "hover" do
                      =image_tag "grade_museum.jpg", alt: "The MUSEUM", size: "135x26"
                - else
                  %p.star
                    =link_to "/grade", class: "hover" do
                      =image_tag "grade_casual.jpg", alt: "The CASUAL", size: "100x21"
                =image_tag "grade_verified.jpg", alt: "Relux verified"
              .right
                - case @hotel.grade
                - when 1 then
                  %p.description
                    都道府県下を代表する旅館・ホテルであり、ちかくに寄る際は、訪れてみたい宿泊施設。
                - when 2 then
                  %p.description
                    その地方を代表する旅館・ホテルであり、すこし遠まわりをしてでも、訪れてみたい宿泊施設。
                - when 3 then
                  %p.description
                    日本を代表する旅館・ホテルであり、どんなに遠くても、人生に一度は訪れてみたい宿泊施設。
                - when 4 then
                  %p.description
                    芸術といえるほどの、極上の宿泊体験を提供する、世界屈指の宿泊施設です。人々にインスピレーションを与えるおもてなしは、まさに宿泊可能なインスタレーションアート。<br><br>誰もがその価値を認める、宿泊施設コレクションです。
                - else
                  %p.description
                    その地区では満足度がとても高い旅館・ホテルであり、カジュアルにもお楽しみいただける宿泊施設。
                %p.gradeLink
                  =link_to "Reluxグレードとは", "/grade/", class: "hover"
          .introduction
            %h3.subTitle キャンセルポリシー
            =@hotel.cancel.html_safe
            %p.notes やむをえない理由によりキャンセル頂く場合は、ご予約頂いた料金に対して、キャンセル料金を頂戴しております。<br>予めご確認の上、ご予約をお願いいたします。
        #plan.tabContent
          =@hotel.plan.html_safe
        #access.tabContent
          #map
          =link_to "GoogleMapで開く", "https://maps.google.co.jp/maps?q=26.527778888889,127.93972333333", class: "googleMap"
          .introduction
            %table.hotel_detail
              %tbody
                %tr
                  %th 施設名
                  %td
                    =@hotel.name
                  %tr.space
                  %tr
                    %th 住所
                    %td
                      =(@hotel.prefecture + @hotel.city + @hotel.street)
                  %tr.space
                  %tr
                    %th 公共交通機関でのアクセス
                    %td
                      %p.description
                        =sanitize(@hotel.access_by_public)
                  %tr.space
                  %tr
                    %th お車でのアクセス
                    %td
                      %p.description
                        =sanitize(@hotel.access_by_car)
                  %tr.space
        #review.tabContent
          .gradeBox
            .left
              %p.title
                =image_tag "grade_title.jpg", alt: "Relux Grade"
              - case @hotel.grade
              - when 1 then
                %p.star
                  =link_to "/grade", class: "hover" do
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
              - when 2 then
                %p.star
                  =link_to "/grade", class: "hover" do
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
              - when 3 then
                %p.star
                  =link_to "/grade", class: "hover" do
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
                    =image_tag "grade_star.jpg", alt: "The STAR", size: "30x28"
              - when 4 then
                %p.star
                  =link_to "/grade", class: "hover" do
                    =image_tag "grade_museum.jpg", alt: "The MUSEUM", size: "135x26"
              - else
                %p.star
                  =link_to "/grade", class: "hover" do
                    =image_tag "grade_casual.jpg", alt: "The CASUAL", size: "100x21"
              =image_tag "grade_verified.jpg", alt: "Relux verified"
            .right
              - case @hotel.grade
              - when 1 then
                %p.description
                  都道府県下を代表する旅館・ホテルであり、ちかくに寄る際は、訪れてみたい宿泊施設。
              - when 2 then
                %p.description
                  その地方を代表する旅館・ホテルであり、すこし遠まわりをしてでも、訪れてみたい宿泊施設。
              - when 3 then
                %p.description
                  日本を代表する旅館・ホテルであり、どんなに遠くても、人生に一度は訪れてみたい宿泊施設。
              - when 4 then
                %p.description
                  芸術といえるほどの、極上の宿泊体験を提供する、世界屈指の宿泊施設です。人々にインスピレーションを与えるおもてなしは、まさに宿泊可能なインスタレーションアート。<br><br>誰もがその価値を認める、宿泊施設コレクションです。
              - else
                %p.description
                  その地区では満足度がとても高い旅館・ホテルであり、カジュアルにもお楽しみいただける宿泊施設。
              %p.gradeLink
                =link_to "Reluxグレードとは", "/grade/", class: "hover"
          .introduction.margin-top
            %h3.subTitle 宿泊者のレビュー
            .reviewArea
              - @hotel.reviews.each do |review|
                .reviewList.clearfix.margin-top
                  .avatar
                    =image_tag "/assets/icon_nouser.gif", alt: "メール会員", class: "face"
                  .review-body
                    .review-header.clearfix
                      %p.review-rate
                        %span.on
                          =review.rate
                      %p.review-name
                        %i.fa.fa-user.fa-lg
                          =review.name
                        %i.fa.fa-clock-o.fa-lg
                          宿泊日：
                          =review.accommodation_date
                    %p.review-text
                      =review.body
        .registration
          %p
            Reluxは会員制宿泊予約サービスです。<br>
            %span 予約をするには会員登録が必要です。
          =link_to "Relux会員申し込み", "/regist/", class: "btn btn--relux"
    .detailRight
      .reserveArea
        %form#reserveForm.reserve
          .checkin-area
            %input{ type: "text", class: "check-in", placeholder: "チェックイン日を選択" }
          .checkout-area
            %input{ type: "text", class: "check-out", placeholder: "チェックアウト日を選択" }
          .check-message
            %p チェックイン日をご指定いただくと、料金・残室数が表示されます。
          .reservednum-area
          .reservedroom-area
            - @hotel.rooms.each do |room|
              .eachroom-area
                .radioarea
                  %input{type: "radio", name: "hyouka",  value:"good", checked: "checked"}
                %label{class: "info"}
                  .detail
                    %h4
                      =room.name
                    %span
                      =number_to_currency(room.price, precision: 0, unit: "¥", delimeter: ",")
                    %span.roomP
                      総額（税抜）
                    %p.description
                      =room.room_type
                .roomBox
                  .room-detail.clearfix
                    .roomPhoto
                      =image_tag room.image, alt: room.name
                      %ul.smoke
                        %li 喫煙可
                    .right
                      .room-description
                        %p.title.mincho
                          =room.name
                        %p.body.mincho
                          =room.body
                      .room-amenity
                        %p.title.mincho 部屋タイプの特徴
                        %ul.body.mincho.clearfix
                          =room.feature.html_safe
                  .room_arrow
                    =image_tag "https://rlx.jp/img/hoverpop_balloons2.png?1410244431", alt: room.name
            .food-area
              %p お食事内容
              %ul.clearfix
                %li.no_food
                  %label
                    %input{type: "radio", name: "hyouka",  value:"good"}
                    2食付き
                %li.no_food
                  %label
                    %input{type: "radio", name: "hyouka",  value:"good"}
                    夕食付き
                %li.food
                  %label
                    %input{type: "radio", name: "hyouka",  value:"good", checked: "checked"}
                    朝食付き
                %li.no_food
                  %label
                    %input{type: "radio", name: "hyouka",  value:"good"}
                    素泊まり
            .price-area
              %span 合計
              %span.totalP -円
              %span.tax 消費税：
              .point-area
                %p.clearfix
                  %span.total_point -円
                  %span 分のReluxポイントが貯まる
                %p.relux_point Reluxポイント  5%
              %p.assurance
                最低価格保証
                %i.fa.fa-question
              =link_to "予約へすすむ", "/regist/", class: "btn btn--relux"
      .reserve-phone
        %p.title ご予約専用電話
        %p.number 03-6432-4962
        %p.status
          %span オンラインです
        %p.time 10:00-19:00(平日・土曜)
        %p.reception 株式会社Loco Partners Reluxデスク
        %p.body お電話でのご予約も承っております。また、こちらのフォームより、コンシェルジュがオリジナルの旅行プランのご提案も可能です。お気軽にご相談ください。
      %p.margin-top 現在、閲覧履歴はありません。
=render partial: "footer"



